<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", casques_path, class:"nav-link active" %>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.overstims.com/conseil/wp-content/uploads/2018/01/comment-s-entrainer-pour-devenir-grimpeur-1920.jpg);">
    <div class="container">
      <h1><strong>Protege toi</strong> en portant un casque <strong>Charles'casque</strong>!</h1>
      <p>Decouvre notre selection realisée par nos experts</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>


<div class="container-show">
  <div class="card-trip col-9">
    <div class="image-casque">
      <%= cl_image_tag(@casque.photo.key, height: 480, width: 780, crop: :fill)%>
    </div>
    <div class="card-trip-infos">
      <div>
        <h2><%= @casque.nom %></h2>
        <p>Disponible en <%= @casque.couleur.downcase %> </p>
      </div>
      <h2 class="card-trip-pricing"> <%= @casque.prix %> €</h2>
      <h2>Rating: <%= @casque.reviews.average(:rating)%> /5 </h2>
    </div>
  </div>
    <%# <div class="reviews col-3"> %>
      <div class="p-3 mb-2 bg-secondary text-white mt-3 mb-3 col-3" style="--bs-bg-opacity: .6;">
        <h3 class='text-center'>Reviews</h3>
          <div class="reviews-text">
            <ul>
              <% @casque.reviews.each do |review| %>
              <li><%= review.content %></li>
              <% end %>
            </ul>
          </div>
      </div>
    <%# </div> %>
</div>

<%= render '/shared/footer' %>
